#Room
{
  width: 100vw;
  height: 100vh;
}

canvas
{
  width: 100%;
  height: 100%;
}

#Room .crosshair
{
  position: absolute;
  width: 9px;
  height: 9px;
  top: calc(50vh - 4px);
  left: calc(50vw - 4px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
}

#Room .crosshair .chPiece.On
{
  background-color: black;
}

#Room .tag
{
  position: absolute;
  color: #E5E5E5;
  display: flex;
  align-items: center;
  z-index: 10;
}

#Room .tag h1
{
  font-size: 1vw;
}
